# Byte-compiled / optimized / DLL files
__pycache__/

# Distribution / packaging
dist/
lib/
*.egg-info/
build/
.env

# PyTorch checkpoints
weights/*.pt

# Data
data/*.pt
submissions/*.csv

# Logs
logs/

# IDEs
.vscode/
